name: test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Build project
        run: make
  test:
    needs: build
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Build project
        run: make
      - name: Run unit tests
        run: make test
